    /* * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5;
        background-color: black;
    }
     */
    
    .editor-menu {
        width: 100%;
        height: 6rem;
        background-color: black;
        display: flex;
        justify-self: flex-start;
        align-items: center;
        padding: 5p;
    }
    
    .btn {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #1d1d16;
        padding: 8px 25px;
        border-radius: 3px;
        font-size: 1.6rem;
        margin: 4px 25px 0px;
        color: white;
        min-width: 5rem;
        transition: all .3s;
    }
    
    .btn:hover {
        background-color: orangered;
    }
    
    .hlw-container {
        position: absolute;
        bottom: 0;
        top: 7rem;
        width: 100%;
        display: flex;
        background-color: black;
    }
    
    .hlw-leftside,
    .hlw-rightside {
        height: 100%;
        width: 50%;
        border: 1px solid #d5d5d5;
    }
    
    .hlw-bar {
        width: 4px;
        height: 100%;
        background-color: #eee;
        cursor: w-resize;
    }
    
    .hlw-rightside {
        flex: 1;
    }
    
    .hlw-editor {
        width: 100%;
        font-family: inherit;
        height: 100%;
        font-size: 1.6rem;
        outline: none;
        padding: 1rem 0 0 1rem;
        border-color: #ccc;
        background-color: black;
        color: white;
    }
    
    .hlw-iframe {
        width: 100%;
        height: 100%;
        background-color: white;
        overflow-y: auto;
        white-space: pre;
        right: 0;
        padding: 4px;
    }